{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="row justify-content-center mb-3">
        <div class="col-auto">
            <br/><h2>Registro nuevo usuario</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <form method="post" >
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input class="form-control" id="nombre" name="nombre" placeholder="Nombre"

                                   type="text"/>

                        </div>
                        <div class="form-group">
                            <label for="fechaNacimiento">Fecha de nacimiento</label>
                            <input class="form-control" id="fechaNacimiento" name="fechaNacimiento"
                                   placeholder="dd-MM-yyyy"/>
                        </div>

                        <div class="form-group">
                            <label for="dni">DNI</label>
                            <input class="form-control" id="dni" name="dni" placeholder="DNI" type="text"/>
                        </div>

                        <div class="form-group">
                            <label for="user">Usuario</label>
                            <input class="form-control" id="user" name="user" placeholder="Usuario"
                                    type="text"/>
                        </div>

                        <div class="form-group">
                            <label for="dni">Contraseña</label>
                            <input class="form-control" id="password" name="password" placeholder="Contraseña"
                                    type="password"/>
                        </div>


                        <button class="btn btn-primary" type="submit"><a href="{% url 'login' %}">Registro</a></button>
                        <a class="btn btn-link" href="/login">Ir a login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}