{% extends 'base.html' %}
{% block content %}
<h3>Lista Productos</h3>
{% for product in products %}
<div class="row mt-3">
    <div class="col">
        <hr />
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Numero de serie</th>
                <th>Nombre</th>
                <th>Modelo</th>
                <th>Version</th>
                <th>Modelo</th>
                <th>Precio</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{product.numserie}}</td>
                <td>{{product.nombre}}</td>
                <td>{{product.modelo}}</td>
                <td>{{product.version}}</td>
                <td>{{product.precio}}</td>
                <td><a class="btn btn-primary btn-xs" href="{% url 'gestion:listarClientes' %}">
                    Clientes</a><a class="btn btn-primary btn-xs" href>
                    Borrar producto</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endfor %}

{% endblock %}