{% extends 'base.html' %}
{% block content %}
<h3>Lista Productos</h3>
{% for product in products %}
<div class="row mt-3">
    <div class="col">
        <hr />
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Numero de serie</th>
                <th>Nombre</th>
                <th>Modelo</th>
                <th>Version</th>
                <th>Modelo</th>
                <th>Precio</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Numero de serie: {{product.numserie}}</td>
                <td>Nombre: {{product.nombre}}</td>
                <td>Modelo: {{product.modelo}}</td>
                <td>Version: {{product.version}}</td>
                <td>Precio: {{product.precio}}</td>
                <td><a class="btn btn-primary btn-xs">
                    Comprar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endfor %}

{% endblock %}