{% extends 'base.html' %}
{% block content %}
    <h2> hola</h2>
    {% for product in products %}
        <p>-------------------------------------------------------------------------------------------------------------</p>

            <p class="numserie">Numero de serie: {{product.numserie}}</p>
            <div class="content">
            <p>Nombre: {{product.nombre}}</p>
            <p>Modelo: {{product.modelo}}  Version: {{product.version}}</p>
            <p>Precio: {{product.precio}}</p>
            </div>
            <a class="btn btn-primary btn-xs">Comprar</a>
      {% endfor %}

 {% endblock %}